.Car {
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}



.input:active {
    outline: none !important;
}

.input.green {
    border: 1px solid green;
}

.input.red {
    border: 1px solid red;
}

.input.bold {
    border: 2px solid tomato;
    font-weight: bold;
}